<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.smssdk"
    android:versionCode="20"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!--新版不允许我们在manifest里面添加debug信息-->
    <application
        android:allowBackup="true"
        >
    </application>

</manifest>
